#home::after {
  content: "";
  height: 100vh;
  width: 100%;
  background-image: url("images/home2.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  display: block;
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

#section {
  position: absolute;
  z-index: 1;
  top: 10vh;
  left: 10%;
  height: 500px;
  width: 75%;
}

.select-dropdown {
  color: white
}

.select-wrapper ul li>span {
    color: grey
}

/* For small screens landscape mode */

@media (max-width: 500px) {
  #section {
    position: absolute;
    z-index: 1;
    top: 5vh;
    left: 10%;
    height: 500px;
    width: 80%;
  }
}
